
 .Container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: #fff;
 
 
}


.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  filter: brightness(40%);
  margin-top: -150px;
}



.Banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
 
  padding: 0 20px;
   display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 z-index: 2;
}

.Banner h1 {
  
  
  color: #d7e200; 
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.Banner p {
  text-align: center;       
  min-width: 1212px !important;         
  margin: 0 auto;           
  font-size: 1.2rem;
  line-height: 1.6;
  color: #f1f1f1;
  word-break: break-word;    
}
.contact {
  position: absolute;
  bottom: -10px;
  left: 70%;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .img img {
    height: 400px;
  }

  .Banner h1 {
    font-size: 2rem;
  }

  .Banner p {
   font-size: 1rem;
    max-width: 500px;
  }

  .contact {
    left: 60%;
    width: 180px;
  }
}


@media (max-width: 768px) {
  
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  
  }

  .img img {
    height: auto;
    min-height: 60vh;
  }

  .Banner {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    color: white;
    margin-top: -180px; 
  }

  .Banner h1 {
    font-size: 1.8rem;
  }

  .Banner p {
    font-size: 0.95rem;
    color: #f1f1f1;
    max-width: 90%;
  }

  .contact {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    margin: 15px auto;
    width: 190px;
   width: 160px;
    padding: 8px 10px;
  
  }
}


@media (max-width: 480px) {
  .Banner {
    margin-top: -120px;
  }

  .Banner h1 {
    font-size: 1.5rem;
  }

  .Banner p {
    font-size: 0.85rem;
  }

  .contact {
    width: 160px;
    padding: 8px 10px;
  }
}


